.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hideScroll {
  overflow: auto;
  height: 100px;
  scrollbar-width: none; /*Firefox*/
}

/*Webkit*/
.hideScroll::-webkit-scrollbar {
  width: 0;
}
.container {
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.app-container {
  height: 100vh; /* Altura completa de la ventana de visualización */
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
